

*{
    font-family:'Montserrat', sans-serif;
}

h1 {
    
    color:black;
}



.container {
    display: grid;
    grid-template-columns: auto auto;
    );
}

.container img {
    height: 80%;
    width: 60%;
    

}



.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a {
    color: black;
    text-decoration: none;

    margin-bottom: 18px;
}