
body{
    background-color: black;
}

.container1{
    display: flex;
    align-items: center;
    background-color: white;
    
}
.container1 img {
    margin-left: 2rem;
    margin-right: 19rem;
    width: 10%;
}
  

h1{
    color: rgb(7, 90, 7);
}


.container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: yellow;
}

.container img {
    
    width: 40%;
}

.container div {
    display: grid;
    grid-template-rows: auto auto; /* Primera fila para el enlace, segunda para la imagen */
    justify-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto del enlace */
    align-items: center;
}