*{
    font-family:'Montserrat', sans-serif;
}


.container1 {
    display: flex;
    align-items: center;
    );

}

.container1 img {
    margin-left: 2rem;
    margin-right: 19rem;
    width: 10%;
}
